<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span8">
    <% if @user.documents.any? %>
      <h3>Documents (<%= @user.documents.count %>)</h3>
      <ol class="documents">
        <%= render @documents %>
      </ol>
      <%= will_paginate @documents %>
    <% end %>
  </div>
</div>
