<li id=document_<%="#{document.id}" %> class="<%= cycle("odd", "even")%>">
  <span class="name"><%= document.name %></span>
  <%= link_to content_tag(:i,nil, :class=>"fa fa-trash-o"), document, method: :delete, data: { confirm: 'Are you sure?' } %>

  <span class="timestamp">
    Created <%= time_ago_in_words(document.created_at) %> ago.
  </span>
</li>
